name: build
on:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/PULL_REQUEST_TEMPLATE.md"
      - ".github/CONTRIBUTING.md"
      - ".github/DEVELOPER_GUIDE.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/PULL_REQUEST_TEMPLATE.md"
      - ".github/CONTRIBUTING.md"
      - ".github/DEVELOPER_GUIDE.md"
jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: build-${{ github.ref }}
      cancel-in-progress: true
    permissions: read-all
    env:
      CI: true
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.24'
          cache: true
      - name: Download dependencies
        run: go mod download
      - name: Verify dependencies
        run: go mod verify
      - name: Build
        run: go build -v .
      - name: Run tests
        run: go test -v ./...
      - name: Run tests with race detector
        run: go test -race -short ./...